@inherits DCToastBase

<div class="dc-toast @ToastSettings.BackgroundClass">
    @if (!string.IsNullOrWhiteSpace(ToastSettings.IconClass))
    {
        <div class="dc-toast-icon">
            <i class="fa fa-@ToastSettings.IconClass" aria-hidden="true"></i>
        </div>
    }
    <div class="dc-toast-body">
        <div class="dc-toast-header">
            <h5>@ToastSettings.Heading</h5>
            <button onclick="@HideToast">x</button>
        </div>

        <p>@ToastSettings.Message</p>
    </div>
</div>