@inherits DC.Bue.Snackbar.Base.BaseSnackbar
@if ( !ComponentMapper.HasRegistration( this ) )
{
    <div class="@ClassMapper.Class">
        @ChildContent
    </div>
}
else
{
    @RenderCustomComponent()
}