@page "/SynclocalStorage"
@inject ISyncLocalStorageService localStorage

<h1>非异步本地存储</h1>

<hr class="mb-5" />

<div class="row mb-5">

    <div class="col-md-4">
        <h5>将项目添加到本地存储</h5>
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Enter a value" @bind="Name" />
            <div class="input-group-append">
                <button class="btn btn-primary" @onclick="SaveName">保存</button>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <h5>从本地存储中删除项目</h5>
        <button class="btn btn-primary" @onclick="RemoveName">移除项目</button>
    </div>

    <div class="col-md-4">
        <h5>清除本地存储</h5>
        <button class="btn btn-primary" @onclick="ClearLocalStorage">清除所有</button>
    </div>
</div>

<div class="row">

    <div class="col-md-4">
        <h5>从本地存储读取值</h5>
        @NameFromLocalStorage
    </div>

    <div class="col-md-4">
        <h5>本地存储中的项目</h5>
        @ItemsInLocalStorage
    </div>
    <div class="col-md-4">
        <h5>项目在本地存储中</h5>@(ItemExist)
    </div>
</div>

@code {

    string NameFromLocalStorage { get; set; }
    int ItemsInLocalStorage { get; set; }
    string Name { get; set; }
    bool ItemExist { get; set; }

    protected override void OnInitialized()
    {
        GetNameFromLocalStorage();
        GetLocalStorageLength();

        localStorage.Changed += (sender, e) =>
        {
            Console.WriteLine($"键{e.Key}的值从{e.OldValue}更改为{e.NewValue}");
        };
    }

    void SaveName()
    {
        Console.WriteLine(Name);
        localStorage.SetItem("name", Name);
        GetNameFromLocalStorage();
        GetLocalStorageLength();

        Name = "";
    }

    void GetNameFromLocalStorage()
    {
        NameFromLocalStorage = localStorage.GetItem<string>("name");

        if (string.IsNullOrEmpty(NameFromLocalStorage))
        {
            NameFromLocalStorage = "没有值";
        }
    }

    void RemoveName()
    {
        localStorage.RemoveItem("name");
        GetNameFromLocalStorage();
        GetLocalStorageLength();
    }

    void ClearLocalStorage()
    {
        Console.WriteLine("开始清除...");
        localStorage.Clear();
        Console.WriteLine("正在从本地存储获取键名的值...");
        GetNameFromLocalStorage();
        Console.WriteLine("开始获取长度...");
        GetLocalStorageLength();
    }

    void GetLocalStorageLength()
    {
        Console.WriteLine(localStorage.Length());
        ItemsInLocalStorage = localStorage.Length();
        ItemExist = localStorage.ContainKey("name");
    }

}