.dc-toast-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 1;
}

.dc-toast {
    display: flex;
    flex-direction: row;
    animation: fadein 1.5s;
    margin-bottom: 1rem;
    padding: 1rem 1.25rem;
    color: #fff;
    width: 30rem;
    border-radius: .25rem;
    font-family: monospace;
    box-shadow: rgba(0,0,0,0.25) 0px 10px 40px;
}

.dc-toast-info {
    background-color: #34a9ad;
}

.dc-toast-success {
    background-color: #5fba7d;
}

.dc-toast-warning {
    background-color: #c1c13e;
}

.dc-toast-error {
    background-color: #ba5e5e;
}

.dc-toast-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
    font-size: 2.5rem;
}

.dc-toast-body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

    .dc-toast-body .dc-toast-header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

        .dc-toast-body .dc-toast-header h5 {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 1.5rem;
            margin-bottom: 0;
            line-height: 32px;
        }

        .dc-toast-body .dc-toast-header button {
            background-color: transparent;
            border: 0;
            -webkit-appearance: none;
            cursor: pointer;
            color: #fff;
            font-size: 1.25rem;
        }

    .dc-toast-body p {
        margin-bottom: 0;
        font-size: 1rem;
    }

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
